.mystyle_nav_bgcolor{
    width: 100%;
    padding: 1em 0;

    background-color:#2C3E50 ;
    color: white;
}

.mystyle_green_section{
    width: 100%;
    background-color:#1ABC9C ;
    color: white;
    padding: 3em;
    
}


.my_separator{
    height: 3px;
    width: 100px;
}

.mystyle_test{
   overflow: hidden;
}

.mystyle_btn_download{
    background-color: transparent;
    border: 1px solid white;
}

.mystyle_btn_send{
    background-color: #1ABC9C;
    border: none;
}

.mystyle_blue_section{
    width: 100%;
    background-color: #3A546D ;
    color: white;
    
}

.mystyle_footer_bgcolor{
    width: 100%;
    padding: 3em 0;

    background-color:#2C3E50 ;
    color: white;
}

.form-control::placeholder{
    color: black;
}