.mystyle_nav_bgcolor{
    width: 100%;
    padding: 1em 0;

    background-color:#2C3E50 ;
    color: white;
}

.mystyle_green_section{
    width: 100%;
    background-color:#1ABC9C ;
    color: white;
    padding: 3em;
}

.mystyle_test{
   
    background-color: red;
}

.mystyle_btn_download{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.4em 0.8em;
}