.mystyle_nav_bgcolor{
    width: 100%;
    padding: 1em 0;

    background-color:#2C3E50 ;
    color: white;
}

.mystyle_green_section{
    width: 100%;
    background-color:#1ABC9C ;
    color: white;
    padding: 3em;
}